<header>
    <h1>Super Heroes</h1>
    <nav>
        <thead>
            <tr>
                <th><a href="/id">ID</a></th>
                <th><a href="/nombreSuperHeroe">Nombre Super Heroe</a></th>
                <th><a href="/nombreReal">Nombre Real</a></th>
                <th><a href="/edad">Edad</a></th>
                <th><a href="/planetaOrigen">Planeta Origen</a></th>
                <th><a href="/debilidad">Debilidad</a></th>
                <th><a href="/poderes">Poderes</a></th>
                <th><a href="/aliados">Aliados</a></th>
                <th><a href="/enemigos">Enemigos</a></th>
                <th><a href="/creador">Creado por</a></th>
                <th><a href="/createAt">Fecha de Cheacion</a></th>
                <th><a href="">Modificar</a></th>
                <th><a href="">Eliminar</a></th>
            </tr>
        </thead>
    </nav>
</header>